*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#wrapper {

}

#header {
    height: 46px;
    background-color: black;
}
#nav{

}
#nav li{
    display: inline-block;
}
#nav .subnav{
    display: none;
}
#nav li a{
    color:#fff;
    text-decoration:none ;
}
#slider {

}

#content {

}

#footer {

}
